/* Estilos generales */
* {
  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-color: #FFF3E0;
}
ul {
  list-style-type: none;
  font-size: 16px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

li a {
  text-align: center;
  text-decoration: none;
}